<div class="row">
  <ng-container *ngFor="let post of blogPost; let i = index">
    <div class="col-lg-6 col-md-12  my-2">
      <div class="card h-100 mx-2 border-0">
        <div class="card-body g-1">
          <div class="d-flex h-100 flex-grow-1 post-container">
            <div class="w-50 child-container">
              <img class="rounded img-left" src="https://picsum.photos/id/1/200/300" alt="">
            </div>
            <div class="mx-2 w-50 flex-grow-1 child-container">
              <div>
                <h1 class="title">{{ post.title }}</h1>
              </div>
              <div class="inn-blog-section-wrap">
                <div class="post-body fix-height" [ngClass]="isExpanded ? 'max-height-wrap': ' '">
                  <p>
                    {{ blogPost[i].body.length < 300 ? blogPost[i].body : isExpanded ? blogPost[i].body :
                      blogPost[i].body | slice: 0:300 }} </p>
                </div>
                <div class="mt-auto mb-2 ">
                  <a class="pointer" data-bs-toggle="collapse" *ngIf="blogPost[i].body.length >= 300"
                    (click)="togglePost(post)">{{ post.isExpanded ? 'Read less' : 'Read more' }}</a>
                </div>
                <div class="d-flex mt-4 text-container">
                  <div class="d-flex"><mat-icon>alarm</mat-icon>
                    <p class="pt-1 date-text ml-1">04/07/2023</p>
                  </div>
                  <div class="d-flex ml-2"><mat-icon>account_circle</mat-icon>
                    <p class="pt-1 date-text ml-1">Alex Paul</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" *ngIf="(i + 1) % 2 === 0"></div>
  </ng-container>
</div>