$primary-color: #47A1F6;
$background-color: #F0F5FB;
$font-color: #668094;
$host-color: #333;
$fill-color: #888;
$card-border-color: #eee;
$highlight-color: #1976d2;
$toolbar-color: #253244;
$black-color: #000000;
$white-color: #fff;