<div class="container-fluid">
    <div class="row header my-2 mx-2">
        <div class="card p-0">
            <div class="card-body p-10 pb-1">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start">
                        <div>
                            <mat-icon class="text-color" aria-label="Side nav toggle icon">home</mat-icon>
                        </div>
                        <div class="title-block">
                            <span class="title">Home</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row pl-4 g-0 pt-2">
                    <div class="w-25 mt-2 d-flex align-items-center">
                        <p class="header-text description">Home page description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-home-summary></app-home-summary>
    <app-home-blog-list></app-home-blog-list>
</div>